.navbar {
  font-size: 3em;
  display: flex;
  justify-content: space-between;
  background-color: #333;
  padding: 4rem 3rem;
}

.nav-links a {
  margin-left: 4rem;
  color: white;
  transition: all 0.5s ease;
  text-decoration: none;
}

.nav-links a:hover {
  transition: all 0.5s ease;
  color: gray;
}
/*
@media () {

}
*/

.active {
  color: gray;
}
